/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --color-primary: #26baa4;
  --color-secondary: #6173ff;
  --color-heading: #4c545d;
  --color-body: #9fabb2;
}

/* Typography */

html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  overflow-x: hidden;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  font-weight: 600;
  line-height: 1.3;
}
h1 {
  font-size: 4.4rem;
  margin-bottom: 1.8rem;
}
h2 {
  font-size: 3.4rem;
  margin-bottom: 1.8rem;
}
h3 {
  font-size: 2.6rem;
  margin-bottom: 1.2rem;
}

.hero__paragraph {
  font-size: 2rem;
}

.more-line-height {
  line-height: 1.7;
}
.center-text {
  text-align: center;
}

/* Links */
a.link {
  color: var(--color-heading);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.15s;
}
a.link:hover {
  color: var(--color-primary);
}

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

/* Buttons */
.btn {
  line-height: 1;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  display: inline-block;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem 4rem;
  text-align: center;
  transition: all 0.15s;

  --color-inset-box-shadow--primary: hwb(171 15% 35%);
  --color-outside-box-shadow--primary: rgba(38, 186, 164, 0.3);
  --color-inset-box-shadow--primary__hover: hwb(171 20% 30%);

  --color-inset-box-shadow--secondary: hwb(233 33% 14%);
  --color-outside-box-shadow--secondary: rgba(0, 0, 0, 0.15);
  --color-inset-box-shadow--secondary__hover: hwb(233 43% 14%);
}
.btn--primary {
  color: #fff;
  background: var(--color-primary);
  box-shadow: inset 0 -4px 0 var(--color-inset-box-shadow--primary),
    0 10px 16px var(--color-outside-box-shadow--primary);
}
.btn--secondary {
  color: #fff;
  background: var(--color-secondary);
  box-shadow: inset 0 -4px 0 var(--color-inset-box-shadow--secondary),
    0 10px 16px var(--color-outside-box-shadow--secondary);
}
.btn--primary:hover {
  background: hwb(171 30% 22%);
  box-shadow: inset 0 -4px 0 var(--color-inset-box-shadow--primary__hover),
    0 10px 16px var(--color-outside-box-shadow--primary);
}
.btn--secondary:hover {
  background: hwb(233 48% 0%);
  box-shadow: inset 0 -4px 0 var(--color-inset-box-shadow--secondary__hover),
    0 10px 16px var(--color-outside-box-shadow--secondary);
}

@media screen and (max-width: 490px) {
  .btn {
    font-size: 2.2rem;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

/* Grid */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 730px) {
  .grid--2-cols,
  .grid--3-cols {
    grid-template-columns: 1fr !important;
  }
}

/* Section headings */
.block__header {
  margin-bottom: 9.6rem;
}
/* .block__heading {
} */
.block__heading-para {
  max-width: 60ch;
  margin-inline: auto;
}
@media screen and (max-width: 490px) {
  .block__heading-para,
  p {
    font-size: 2.2rem;
  }
  .block__heading {
    font-size: 3.8rem;
  }
}

/* Lists */
ul {
  list-style: none;
}
ul li {
  margin-bottom: 1.8rem;
}
ul li:last-child {
  margin-bottom: 0;
}

/* Feature - h3 with p */
.feature li {
  margin-bottom: 5rem;
}
.feature--flexed {
  gap: 5rem;
}
.feature--flexed li {
  margin-bottom: 0;
}
.feature__para {
  line-height: 1.8;
}
.feature__icon {
  width: 5rem;
  height: 5rem;
}
.icon__preview {
  transform: scale(1.4);
}
.feature__icon {
  margin-bottom: 3rem;
}
.feature--flexed .feature__heading {
  margin-bottom: 1.8rem;
}
@media screen and (max-width: 490px) {
  .feature--flexed {
    gap: 8rem;
  }
}

/* Section blocks */
.block {
  padding: 6.4rem 0;
}
.container {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 2%;
}
.container--feature {
  max-width: 130rem;
}
@media screen and (max-width: 490px) {
  .container {
    padding-inline: 8%;
  }
}

/* Hero section */
.block--hero {
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.icon--logo {
  display: table;
  width: 12rem;
  height: 12rem;
  margin-inline: auto;
}
.h1 {
  text-align: center;
  margin-top: 5rem;
}
.block--hero__p {
  font-size: 2.1rem;
  text-align: center;
  margin-inline: auto;
  max-width: 55ch;
}
.btn-flex {
  display: flex;
  margin-top: 5rem;
  gap: 2rem;
  justify-content: center;
}

@media screen and (max-width: 490px) {
  .btn-flex {
    flex-direction: column;
    gap: 3rem;
  }
  .h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .block--hero__p {
    line-height: 1.7;
  }
}

/* Feature section */
.block--feature {
  padding-top: 6.4rem;
  padding-bottom: 9.6rem;
}
.grid--feature {
  align-items: center;
  grid-template-columns: 1.8fr 1fr;
}
.img-col {
  height: auto;
}
.feature-img--1 {
  width: 95%;
  position: relative;
  right: 120px;
}
.feature--1 {
  position: relative;
  right: 60px;
  max-width: 33ch;
}

@media screen and (max-width: 730px) {
  .grid--feature {
    gap: 8rem;
  }
  .feature-img--1 {
    display: table;
    width: 85vw;
    position: relative;
    right: 0;
    margin-inline: auto;
  }
  .feature--1 {
    position: relative;
    right: 0;
    max-width: 45ch;
    text-align: center;
    margin-inline: auto;
  }
}

/* Devices section */
.devices-img {
  display: table;
  margin-inline: auto;
  width: 65vw;
}

@media screen and (max-width: 730px) {
  .devices-img {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .container--devices {
    padding-inline: 5%;
  }
}
.block--devices {
  padding-bottom: 3.2rem;
}

/* 3 col feature */
.block--3-col-feature {
  padding-top: 3.2rem;
}
